<article>

  <h1> Must be an Administrator to add a page.  
       Please enter your password 
  </h1>
  
  <form action="/admin" method="post">
    <div><label for="password">Password:</label><br />
    <input type="text" name="password" id="password" /></div>
    <div><input type="submit" value="Submit" /></div>
  </form>
  
</article>