<% articles.each do |article| %>
  <article>
    <h2>
      <A HREF ="article/<%= article.title %>"> <%= article.title %> </A>
      <%= article.time_created %>
    </h2>
    <!-- Need to limit the text of this to a fixed number of characters -->
    <p> <%= article.body %> </p>
  </article>
<% end %>