<header>
  <h1><%= title %></h1>
  <h3><i><%= subtitle %></i> </h3>
</header>

<nav>
  Links go here
</nav>

<articles>
  Need to display each article that is passed to this section.
</articles>

<articles>
  Need to display another article that is passed to this section.
</articles>

<footer>
  <p><small>
    Copyright 2012 DeWitt Software, LLC
  </small><p>
</footer>

<!-- TODO:  This will be a loop over each article that has been collected -->
<!-- <% # article.each do |art| %> -->
  <articles>
    Need to display each article that is passed to this section.
  </articles>
<!-- <% # end %> -->

